h1 {
  color: #e4c3ad;
  text-shadow: 1px 5px 10px #111;
}
header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  background: #546a7b;
}
.header__logo img {
  margin-top: 10px;
  width: 60px;
}
.header__profile img {
  border-radius: 50%;
  border: 2px solid #00a8e1;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  box-shadow: 0 0 10px #111;
}
.header__profile {
  display: flex;
}
.header__profile p {
  margin: 30px 10px;
  font-size: 20px;
  color: #e4c3ad;
}
